@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.primary-nav{

}
.label-close{
  display: none;
}
.is-open {
  & .primary-nav{
    transform: translateX(0);
  }
  & .nav-trigger{

  }
  & .label-close{
    display: inline;
  }
  & .label-menu{
    display: none;
  }
}